/*Шрифты: font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;

FONT_SIZE:
смотрите в ОБЩИЕ свойства*/

/*СЖИМАЕМ КАРТИНКИ СРАЗУ https://tinypng.com/ */

/*Делаем свой блок сразу адаптивным*/

/*Девочки, подписываем свои рабочие области, начало/конец, как объясняла Диана на вебинаре*/

/* Similar Publications начало*/
.cards {
  padding-bottom: 2%;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
}
.cards__name {
  grid-area: 1 / 1 / 2 / 4;
}
.cards__img4 {
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  grid-area: 2 / 1 / 3 / 2;
}
.cards__caption1 {
  margin-left: 15%;
  margin-right: 15%;
  grid-area: 3 / 1 / 4 / 2;
}
.text-price {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #d96f6e;
}
.cards__img5 {
  justify-content: center;
  grid-area: 2 / 2 / 3 / 3;
}
.cards__caption2 {
  grid-area: 3 / 2 / 4 / 2;
}
.cards__img6 {
  justify-content: center;
  grid-area: 2 / 3 / 3 / 4;
}
.cards__caption3 {
  grid-area: 3 / 3 / 4 / 4;
}
/* Similar Publications конец*/

@media (min-width: 600px) and (max-width: 999px) {
  .cards__img4 {
    margin-left: 9%;
  }
  .cards__caption1 {
    margin-left: 9%;
  }

  .text-body-s {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 599px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards__img4 {
    margin-left: 7%;
    margin-right: 7%;
  }
  .cards__caption1 {
    margin-left: 7%;
    margin-right: 7%;
  }
  .text-body-s {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1000px) {
  .cards__img5 {
    margin-left: 3%;
  }
  .text-body-s {
    font-size: 1vw;
  }
}
