/*Блок Welcome back, Jessica! начало*/
.padding-text {
  margin-right: 15%;
  padding-left: 5%;
  margin-top: 5%;
}
.card-text {
  padding-top: 3%;
  padding-bottom: 12%;
  line-height: 170%;
}
/*Блок Welcome back, Jessica! конец*/
/*Блок Popular Lists начало*/
.lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr 1fr;
  padding-bottom: 5%;
}
.lists__name {
  grid-area: 1 / 1 / 2 / 3;
}
.card-lists1 {
  grid-area: 2 / 1 / 3 / 2;
  background: linear-gradient(90deg, #f3a492 0%, #d96f6e 100%), #c4c4c4;
  box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.2);
  border-radius: 8px;
  padding-left: 5%;
  margin-left: 10%;
}
.lists-size {
  width: 20vw;
  height: 11vw;
}
.icon-size {
  width: 3vw;
}
.icon-position {
  position: relative;
}
.lists1-text {
  color: #ffffff;
}
.lists1-icon {
  padding-top: 20%;
}
.lists1-effect {
  width: 22vw;
  bottom: 100%;
  right: 16%;
}
.card-lists2 {
  grid-area: 2 / 2 / 3 / 3;
  background: radial-gradient(
      50% 50% at 50% 50%,
      #dee9ed 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #cedee4;
  box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.2);
  border-radius: 8px;
  margin-left: 10%;
}
.lists2-text {
  color: #d96f6e;
  margin-left: 35%;
  margin-top: 8%;
}
.lists2-icon1 {
  left: 12%;
  top: 38%;
}
.lists2-icon2 {
  left: 70%;
  bottom: 20%;
}
.lists2-icon3 {
  left: 25%;
  top: 15%;
}
.lists2-icon4 {
  left: 25%;
}
/*Блок Popular Lists конец*/
/* Катя Top 10 authors начало */
.authors {
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-bottom: 5%;
  justify-items: center;
  text-align: center;
}
.authors__img {
  border-radius: 100%;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}
.authors__img_size {
  width: 5.5vw;
}
.authors__name {
  margin-top: 5%;
}
/* Катя Top 10 authors конец */
/*Latest Arrivals начало*/
.cards {
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: 0.2fr 0.5fr 0.2fr;
}
.cards__name {
  grid-area: 1 / 1 / 2 / 4;
}
.cards__img1 {
  justify-self: center;
  grid-area: 2 / 1 / 3 / 2;
}
.cards__caption1 {
  margin-left: 15%;
  margin-right: 15%;
  grid-area: 3 / 1 / 4 / 2;
}
.cards__img2 {
  justify-self: center;
  grid-area: 2 / 2 / 3 / 3;
}
.cards__caption2 {
  margin-left: 11%;
  margin-right: 14%;
  grid-area: 3 / 2 / 4 / 3;
}
.cards__img3 {
  justify-self: center;
  grid-area: 2 / 3 / 3 / 4;
}
.cards__caption3 {
  margin-left: 15%;
  margin-right: 15%;
  grid-area: 3 / 3 / 4 / 4;
}
/*Latest Arrivals конец*/
/*Popular Genres начало*/
.menu {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-template-rows: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr;
}
.menu__name {
  grid-area: 1 / 1 / 2 / 5;
}
.icon-books {
  grid-area: 2 / 1 / 3 / 2;
}
.icon-books-size {
  width: 2.5vw;
  padding-top: 25%;
}
.icon-background {
  margin-top: 5%;
  width: 7vw;
  height: 6vw;
  margin-left: 22%;
  background: #ffffff;
  box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
  border-radius: 8px;
}
.icon_background:hover {
  background: linear-gradient(
    90deg,
    rgb(252, 212, 218) 13%,
    rgba(255, 193, 178, 0.893) 85%
  );
}
.icon-books-caption {
  grid-area: 3 / 1 / 4 / 2;
}
.icon-detective {
  grid-area: 2 / 2 / 3 / 3;
}
.icon-detective-caption {
  grid-area: 3 / 2 / 4 / 3;
}
.icon-knife {
  grid-area: 2 / 3 / 3 / 4;
}
.icon-knife-caption {
  grid-area: 3 / 3 / 4 / 4;
}
.icon-heart {
  grid-area: 2 / 4 / 3 / 5;
}
.icon-heart-caption {
  grid-area: 3 / 4 / 4 / 5;
}
.icon-geography {
  grid-area: 4 / 1 / 5 / 2;
}
.icon-geography-caption {
  grid-area: 5 / 1 / 6 / 2;
}
.icon-tennis {
  grid-area: 4 / 2 / 5 / 3;
}
.icon-tennis-caption {
  grid-area: 5 / 2 / 6 / 3;
}
.icon-physics {
  grid-area: 4 / 3 / 5 / 4;
}
.icon-physics-caption {
  grid-area: 5 / 3 / 6 / 4;
}
.icon-witch {
  grid-area: 4 / 4 / 5 / 5;
}
.icon-witch-caption {
  grid-area: 5 / 4 / 6 / 5;
}
.icon-couple {
  grid-area: 6 / 1 / 7 / 2;
}
.icon-couple-caption {
  grid-area: 7 / 1 / 8 / 2;
}
.icon-children {
  grid-area: 6 / 2 / 7 / 3;
}
.icon-children-caption {
  grid-area: 7 / 2 / 8 / 3;
}
.icon-book {
  grid-area: 6 / 3 / 7 / 4;
}
.icon-book-caption {
  grid-area: 7 / 3 / 8 / 4;
}
.icon-leaf {
  grid-area: 6 / 4 / 7 / 5;
}
.icon-leaf-caption {
  grid-area: 7 / 4 / 8 / 5;
}
/*Popular Genres конец*/
@media (min-width: 600px) and (max-width: 999px) {
  /*Блок Welcome back, Jessica! начало*/
  .padding-text {
    margin-right: 18%;
  }
  .card-text {
    line-height: 150%;
  }
  /*Блок Welcome back, Jessica! конец*/
  /*Блок Popular Lists начало*/
  .icon-size {
    width: 5vw;
  }
  .lists1-effect {
    width: 34.5vw;
    bottom: 108%;
    right: 14%;
  }
  .lists-size {
    width: 32vw;
    height: 18vw;
  }
  /*Блок Popular Lists конец*/
  /* Катя Top 10 authors начало */
  .authors__img_size {
    width: 10vw;
  }
  /* Катя Top 10 authors конец */
  /*Latest Arrivals начало*/
  .cards__caption2 {
    margin-left: 9%;
    margin-right: 10%;
  }
  /*Latest Arrivals конец*/
  /*Popular Genres начало*/
  .icon-books-size {
    width: 4vw;
  }
  .icon-background {
    width: 9vw;
    height: 8vw;
    margin-left: 27%;
  }
  /*Popular Genres конец*/
}
@media screen and (max-width: 599px) {
  /*Блок Welcome back, Jessica! начало*/
  .padding-text {
    margin-right: 18%;
  }
  .card-text {
    line-height: 130%;
  }
  /*Блок Welcome back, Jessica! конец*/
  /*Блок Popular Lists начало*/
  .lists {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    padding-bottom: 2%;
  }
  .lists__name {
    grid-area: 1 / 1 / 2 / 2;
  }
  .icon-size {
    width: 9vw;
  }
  .card-lists1 {
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 15%;
    margin-bottom: 5%;
  }
  .lists1-effect {
    width: 70vw;
    bottom: 100%;
  }
  .card-lists2 {
    grid-area: 3 / 1 / 4 / 2;
    margin-left: 15%;
  }
  .lists2-icon2 {
    bottom: 16%;
  }
  .lists-size {
    width: 65vw;
    height: 35vw;
  }
  /*Блок Popular Lists конец*/
  /* Катя Top 10 authors начало */
  .authors__img_size {
    width: 13.5vw;
  }
  /* Катя Top 10 authors конец */
  /*Latest Arrivals начало*/
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards__caption1 {
    margin-left: 8%;
    margin-right: 10%;
  }
  .cards__caption2 {
    margin-left: 2%;
    margin-right: 0%;
  }
  .cards__caption3 {
    margin-left: 7%;
    margin-right: 5%;
  }
  /*Latest Arrivals конец*/
  /*Popular Genres начало*/
  .icon-books-size {
    width: 6vw;
  }
  .icon-background {
    width: 15vw;
    height: 14vw;
    margin-left: 20%;
  }
  /*Popular Genres конец*/
}
