/*Шрифты: font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;

FONT_SIZE:
смотрите в ОБЩИЕ свойства*/

/*СЖИМАЕМ КАРТИНКИ СРАЗУ https://tinypng.com/ */

/*Делаем свой блок сразу адаптивным*/

/*Девочки, подписываем свои рабочие области, начало/конец, как объясняла Диана на вебинаре*/
.wishlist {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr 1fr 0.2fr;
  margin-top: 5%;
}
.wishlist__heading {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  justify-content: left;
}
.wishlist__img1 {
  grid-area: 2 / 1 / 3 / 2;
}
.wishlist__img2 {
  grid-area: 2 / 2 / 3 / 3;
}
.wishlist-img_size {
  width: 11vw;
  height: 14vw;
  margin-left: 9%;
}
.wishlist__img3 {
  grid-area: 2 / 3 / 3 / 4;
}
.wishlist__img4 {
  grid-area: 3 / 1 / 4 / 2;
}
.wishlist__img5 {
  grid-area: 3 / 2 / 4 / 3;
}
.wishlist__img6 {
  grid-area: 3 / 3 / 4 / 4;
}
.wishlist__link {
  grid-area: 4 / 1 / 5 / 4;
  text-align: center;
}
