/*<!--Олеся Jessica начало--> */
.profile {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  justify-items: center;
  text-align: center;
}
.profile__img {
  grid-area: 1 / 1 / 2 / 3;
}
.profile__img_size {
  width: 16vw;
  padding-bottom: 5%;
  object-fit: cover;
}
.profile__name {
  grid-area: 2 / 1 / 3 / 3;
}
.name_text {
  text-transform: uppercase;
  margin-bottom: 8%;
}
.profile__following {
  grid-area: 3 / 1 / 4 / 2;
}
.follow_subtitle {
  color: #4f4f4f;
  margin-bottom: 5%;
}
.profile__followers {
  grid-area: 3 / 2 / 4 / 3;
}
/*<!--Олеся Jessica конец--> */
/* Катя Favorite Genres начало */
.genres {
  margin: 5% 10% 5% 10%;
}
.genres__btn-all {
  margin-left: 2%;
  margin-top: 2%;
}
.genres__btn {
  border: none;
  border-radius: 2vw;
  height: 2.5vw;
  padding-right: 2.5vw;
  padding-left: 2.5vw;
  margin-bottom: 1.5vw;
  margin-right: 1vw;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 94%;
  color: #ffffff;
}
.genres_btn1 {
  background: linear-gradient(90deg, #53889d 0%, #bbd1d9 100%);
}
.genres_btn2 {
  background: linear-gradient(90deg, #f3a492 0%, #d96f6e 100%), #c4c4c4;
}
.genres_btn3 {
  background: linear-gradient(90deg, #f2d05c 0%, #f3a492 100%);
}
.genres_btn4 {
  background: linear-gradient(90deg, #bbd1d9 0%, #f2d05c 92.86%);
}
.genres_btn5 {
  background: linear-gradient(90deg, #d96f6e 0%, #f2d05c 100%);
}
/* Катя Favorite Genres конец */
/*< Олеся Purchased Books начало-->*/
.cards {
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: 0.2fr 1fr 0.2fr;
}
.cards__name {
  display: flex;
  justify-content: left;
  grid-area: 1 / 1 / 2 / 4;
}
.cards__img1 {
  grid-area: 2 / 1 / 3 / 2;
}
.cards__caption1 {
  margin-left: 5%;
  grid-area: 3 / 1 / 4 / 2;
}
.cards__img2 {
  grid-area: 2 / 2 / 3 / 3;
}
.cards__caption2 {
  grid-area: 3 / 2 / 4 / 3;
}
.cards__img3 {
  grid-area: 2 / 3 / 3 / 4;
}
.cards__caption3 {
  margin-left: 6%;
  grid-area: 3 / 3 / 4 / 4;
}
.purchased__link {
  grid-area: 4 / 1 / 5 / 4;
  text-align: center;
  padding-top: 5%;
}
/*< Олеся Purchased Books конец-->*/
/*Оксана Wishlist*/
.wishlist {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr 1fr 0.2fr;
  margin-top: 5%;
}
.wishlist__heading {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  justify-content: left;
}
.wishlist__img1 {
  grid-area: 2 / 1 / 3 / 2;
  padding-bottom: 10%;
}
.wishlist__img2 {
  grid-area: 2 / 2 / 3 / 3;
}
.wishlist-img_size {
  width: 11vw;
  height: 14vw;
  margin-left: 9%;
  object-fit: cover;
}
.wishlist__img3 {
  grid-area: 2 / 3 / 3 / 4;
}
.wishlist__img4 {
  grid-area: 3 / 1 / 4 / 2;
}
.wishlist__img5 {
  grid-area: 3 / 2 / 4 / 3;
}
.wishlist__img6 {
  grid-area: 3 / 3 / 4 / 4;
}
.wishlist__link {
  grid-area: 4 / 1 / 5 / 4;
  text-align: center;
  padding-top: 5%;
}
/*Оксана Wishlist*/
@media (min-width: 600px) and (max-width: 999px) {
  /*<!--Олеся Jessica начало--> */
  .profile__img_size {
    width: 28vw;
  }
  /*<!--Олеся Jessica конец--> */
  /* Катя Favorite Genres начало */
  .genres__btn {
    height: 5vw;
    margin-right: 2vw;
    padding-right: 4.5vw;
    padding-left: 4.5vw;
    font-size: 1.7vw;
  }
  /* Катя Favorite Genres конец */
  /*Оксана Wishlist*/
  .wishlist-img_size {
    width: 19vw;
    height: 24vw;
    margin-left: 3%;
  }
  /*Оксана Wishlist*/
}
@media screen and (max-width: 599px) {
  /*<!--Олеся Jessica начало--> */
  .profile__img_size {
    width: 38vw;
  }
  /*<!--Олеся Jessica конец--> */
  /* Катя Favorite Genres начало */
  .genres {
    margin-left: 8%;
  }
  .genres__btn {
    height: 8vw;
    border-radius: 3vw;
    font-size: 3vw;
    margin-right: 2vw;
    padding-right: 3.5vw;
    padding-left: 3.5vw;
  }
  /* Катя Favorite Genres конец */
  /*< Олеся Purchased Books начало-->*/
  .cards {
    margin-left: 3%;
    margin-right: 2%;
  }
  .cards__name {
    padding-left: 5%;
  }
  .cards__caption1 {
    margin-left: 6%;
  }
  .cards__caption2 {
    margin-left: 2%;
  }
  .cards__caption3 {
    margin-left: 1%;
  }
  /*< Олеся Purchased Books конец-->*/
  /*Оксана Wishlist*/
  .wishlist {
    margin-left: 8%;
  }
  .wishlist-img_size {
    width: 25vw;
    height: 32vw;
    margin-left: 0%;
  }
  /*Оксана Wishlist*/
}
