/*Шрифты: font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;*/

/*СЖИМАЕМ КАРТИНКИ СРАЗУ https://tinypng.com/*/

/*Девочки, подписываем свои рабочие области, начало/конец, как объясняла Диана на вебинаре*/

.root {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
/*Popular Genres начало*/
.genres {
  width: 50%;
  margin-left: 25%;
  font-size: 1.1vw;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-template-rows: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr;
  border: 1px solid black;
}
.genres__name {
  grid-area: 1 / 1 / 2 / 5;
}
.name_size {
  padding-left: 2.5vw;
  padding-bottom: 1.5vw;
  text-align: left;
  font-family: "Playfair Display", serif;
  font-size: 1.5vw;
  font-weight: 700;
}
.genres__icon-books {
  grid-area: 2 / 1 / 3 / 2;
}
.genres_icon {
  width: 2vw;
}
.icon-books__ caption {
  grid-area: 3 / 1 / 4 / 2;
}
.genres__icon-detective {
  grid-area: 2 / 2 / 3 / 3;
}
.icon-detective__ caption {
  grid-area: 3 / 2 / 4 / 3;
}
.genres__icon-knife {
  grid-area: 2 / 3 / 3 / 4;
}
.icon-knife__ caption {
  grid-area: 3 / 3 / 4 / 4;
}
.genres__icon-heart {
  grid-area: 2 / 4 / 3 / 5;
}
.icon-heart__ caption {
  grid-area: 3 / 4 / 4 / 5;
}
.genres__icon-geography {
  grid-area: 4 / 1 / 5 / 2;
}
.icon-geography__ caption {
  grid-area: 5 / 1 / 6 / 2;
}
.genres__icon-tennis {
  grid-area: 4 / 2 / 5 / 3;
}
.icon-tennis__ caption {
  grid-area: 5 / 2 / 6 / 3;
}
.genres__icon-physics {
  grid-area: 4 / 3 / 5 / 4;
}
.icon-physics__ caption {
  grid-area: 5 / 3 / 6 / 4;
}
.genres__icon-witch {
  grid-area: 4 / 4 / 5 / 5;
}
.icon-witch__ caption {
  grid-area: 5 / 4 / 6 / 5;
}
.genres__icon-couple {
  grid-area: 6 / 1 / 7 / 2;
}
.icon-couple__ caption {
  grid-area: 7 / 1 / 8 / 2;
}
.genres__icon-children {
  grid-area: 6 / 2 / 7 / 3;
}
.icon-children__ caption {
  grid-area: 7 / 2 / 8 / 3;
}
.genres__icon-book {
  grid-area: 6 / 3 / 7 / 4;
}
.icon-book__ caption {
  grid-area: 7 / 3 / 8 / 4;
}
.genres__icon-leaf {
  grid-area: 6 / 4 / 7 / 5;
}
.icon-leaf__ caption {
  grid-area: 7 / 4 / 8 / 5;
}
/*Popular Genres конец*/

@media screen and (min-width: 1000px) {
  .root {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  /*Popular Genres начало*/
  .genres {
    width: 50%;
    margin-left: 25%;
    font-size: 1.3vw;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr;
    border: 1px solid black;
  }
  .genres__name {
    grid-area: 1 / 1 / 2 / 5;
  }
  .name_size {
    padding-left: 2.5vw;
    padding-bottom: 1.5vw;
    text-align: left;
    font-family: "Playfair Display", serif;
    font-size: 1.8vw;
    font-weight: 700;
  }
  .genres__icon-books {
    grid-area: 2 / 1 / 3 / 2;
  }
  .genres_icon {
    width: 2.2vw;
  }

  .icon-books__ caption {
    grid-area: 3 / 1 / 4 / 2;
  }
  .genres__icon-detective {
    grid-area: 2 / 2 / 3 / 3;
  }
  .icon-detective__ caption {
    grid-area: 3 / 2 / 4 / 3;
  }
  .genres__icon-knife {
    grid-area: 2 / 3 / 3 / 4;
  }
  .icon-knife__ caption {
    grid-area: 3 / 3 / 4 / 4;
  }
  .genres__icon-heart {
    grid-area: 2 / 4 / 3 / 5;
  }
  .icon-heart__ caption {
    grid-area: 3 / 4 / 4 / 5;
  }
  .genres__icon-geography {
    grid-area: 4 / 1 / 5 / 2;
  }
  .icon-geography__ caption {
    grid-area: 5 / 1 / 6 / 2;
  }
  .genres__icon-tennis {
    grid-area: 4 / 2 / 5 / 3;
  }
  .icon-tennis__ caption {
    grid-area: 5 / 2 / 6 / 3;
  }
  .genres__icon-physics {
    grid-area: 4 / 3 / 5 / 4;
  }
  .icon-physics__ caption {
    grid-area: 5 / 3 / 6 / 4;
  }
  .genres__icon-witch {
    grid-area: 4 / 4 / 5 / 5;
  }
  .icon-witch__ caption {
    grid-area: 5 / 4 / 6 / 5;
  }
  .genres__icon-couple {
    grid-area: 6 / 1 / 7 / 2;
  }
  .icon-couple__ caption {
    grid-area: 7 / 1 / 8 / 2;
  }
  .genres__icon-children {
    grid-area: 6 / 2 / 7 / 3;
  }
  .icon-children__ caption {
    grid-area: 7 / 2 / 8 / 3;
  }
  .genres__icon-book {
    grid-area: 6 / 3 / 7 / 4;
  }
  .icon-book__ caption {
    grid-area: 7 / 3 / 8 / 4;
  }
  .genres__icon-leaf {
    grid-area: 6 / 4 / 7 / 5;
  }
  .icon-leaf__ caption {
    grid-area: 7 / 4 / 8 / 5;
  }
  /*Popular Genres конец*/
}

@media (min-width: 600px) and (max-width: 999px) {
  .root {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  /*Popular Genres начало*/
  .genres {
    width: 50%;
    margin-left: 25%;
    font-size: 1.8vw;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr;
    border: 1px solid black;
  }
  .genres__name {
    grid-area: 1 / 1 / 2 / 5;
  }
  .name_size {
    padding-left: 2.5vw;
    padding-bottom: 1.5vw;
    text-align: left;
    font-family: "Playfair Display", serif;
    font-size: 2.5vw;
    font-weight: 700;
  }
  .genres__icon-books {
    grid-area: 2 / 1 / 3 / 2;
  }
  .genres_icon {
    width: 3.5vw;
  }
  .icon-books__ caption {
    grid-area: 3 / 1 / 4 / 2;
  }
  .genres__icon-detective {
    grid-area: 2 / 2 / 3 / 3;
  }
  .icon-detective__ caption {
    grid-area: 3 / 2 / 4 / 3;
  }
  .genres__icon-knife {
    grid-area: 2 / 3 / 3 / 4;
  }
  .icon-knife__ caption {
    grid-area: 3 / 3 / 4 / 4;
  }
  .genres__icon-heart {
    grid-area: 2 / 4 / 3 / 5;
  }
  .icon-heart__ caption {
    grid-area: 3 / 4 / 4 / 5;
  }
  .genres__icon-geography {
    grid-area: 4 / 1 / 5 / 2;
  }
  .icon-geography__ caption {
    grid-area: 5 / 1 / 6 / 2;
  }
  .genres__icon-tennis {
    grid-area: 4 / 2 / 5 / 3;
  }
  .icon-tennis__ caption {
    grid-area: 5 / 2 / 6 / 3;
  }
  .genres__icon-physics {
    grid-area: 4 / 3 / 5 / 4;
  }
  .icon-physics__ caption {
    grid-area: 5 / 3 / 6 / 4;
  }
  .genres__icon-witch {
    grid-area: 4 / 4 / 5 / 5;
  }
  .icon-witch__ caption {
    grid-area: 5 / 4 / 6 / 5;
  }
  .genres__icon-couple {
    grid-area: 6 / 1 / 7 / 2;
  }
  .icon-couple__ caption {
    grid-area: 7 / 1 / 8 / 2;
  }
  .genres__icon-children {
    grid-area: 6 / 2 / 7 / 3;
  }
  .icon-children__ caption {
    grid-area: 7 / 2 / 8 / 3;
  }
  .genres__icon-book {
    grid-area: 6 / 3 / 7 / 4;
  }
  .icon-book__ caption {
    grid-area: 7 / 3 / 8 / 4;
  }
  .genres__icon-leaf {
    grid-area: 6 / 4 / 7 / 5;
  }
  .icon-leaf__ caption {
    grid-area: 7 / 4 / 8 / 5;
  }
  /*Popular Genres конец*/
}

@media screen and (max-width: 599px) {
  .root {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  /*Popular Genres начало*/
  .genres {
    width: 100%;
    margin: 0%;
    font-size: 4vw;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr;
    border: 1px solid black;
  }
  .genres__name {
    grid-area: 1 / 1 / 2 / 5;
  }
  .name_size {
    padding-left: 2.5vw;
    padding-bottom: 1.5vw;
    text-align: left;
    font-family: "Playfair Display", serif;
    font-size: 6vw;
    font-weight: 700;
  }
  .genres__icon-books {
    grid-area: 2 / 1 / 3 / 2;
  }
  .genres_icon {
    width: 8vw;
  }
  .icon-books__ caption {
    grid-area: 3 / 1 / 4 / 2;
  }
  .genres__icon-detective {
    grid-area: 2 / 2 / 3 / 3;
  }
  .icon-detective__ caption {
    grid-area: 3 / 2 / 4 / 3;
  }
  .genres__icon-knife {
    grid-area: 2 / 3 / 3 / 4;
  }
  .icon-knife__ caption {
    grid-area: 3 / 3 / 4 / 4;
  }
  .genres__icon-heart {
    grid-area: 2 / 4 / 3 / 5;
  }
  .icon-heart__ caption {
    grid-area: 3 / 4 / 4 / 5;
  }
  .genres__icon-geography {
    grid-area: 4 / 1 / 5 / 2;
  }
  .icon-geography__ caption {
    grid-area: 5 / 1 / 6 / 2;
  }
  .genres__icon-tennis {
    grid-area: 4 / 2 / 5 / 3;
  }
  .icon-tennis__ caption {
    grid-area: 5 / 2 / 6 / 3;
  }
  .genres__icon-physics {
    grid-area: 4 / 3 / 5 / 4;
  }
  .icon-physics__ caption {
    grid-area: 5 / 3 / 6 / 4;
  }
  .genres__icon-witch {
    grid-area: 4 / 4 / 5 / 5;
  }
  .icon-witch__ caption {
    grid-area: 5 / 4 / 6 / 5;
  }
  .genres__icon-couple {
    grid-area: 6 / 1 / 7 / 2;
  }
  .icon-couple__ caption {
    grid-area: 7 / 1 / 8 / 2;
  }
  .genres__icon-children {
    grid-area: 6 / 2 / 7 / 3;
  }
  .icon-children__ caption {
    grid-area: 7 / 2 / 8 / 3;
  }
  .genres__icon-book {
    grid-area: 6 / 3 / 7 / 4;
  }
  .icon-book__ caption {
    grid-area: 7 / 3 / 8 / 4;
  }
  .genres__icon-leaf {
    grid-area: 6 / 4 / 7 / 5;
  }
  .icon-leaf__ caption {
    grid-area: 7 / 4 / 8 / 5;
  }
  /*Popular Genres конец*/
}
/*размеры медиа запросов позже еще подгоним*/
