/*Шрифты: font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;

FONT_SIZE:
смотрите в ОБЩИЕ свойства*/

/*СЖИМАЕМ КАРТИНКИ СРАЗУ https://tinypng.com/*/

/*Делаем свой блок сразу адаптивным*/

/*Девочки, подписываем свои рабочие области, начало/конец, как объясняла Диана на вебинаре*/

/*ОБЩИЕ СВОЙСТВА*/
.root {
  width: 50%;
  margin-left: 25%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: #fafafa;
  font-size: 1.2vw;
}
.heading {
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.heading-h3_size {
  padding-left: 2.5vw;
  padding-bottom: 1.5vw;
  font-size: 2vw;
}
.heading-h4_size {
  font-size: 1.5vw;
  margin-bottom: 0%;
}
.text-body-s {
  font-size: 1.2vw;
}
.img-book {
  width: 13vw;
  height: 16vw;
}
/*ОБЩИЕ СВОЙСТВА*/

/*Navbar начало*/
.rowCustom {
  box-shadow: 0px 0px 10px rgb(164, 164, 159);
  width: 100%;
}

.rowCustom__footer {
  box-shadow: 0px -2px 10px rgb(164, 164, 159);
  width: 77%;
}
/*Navbar конец*/

/*Блок Welcome back, Jessica! начало*/
.p-5 {
  margin-left: 22%;
}

.text {
  font-family: "Playfair Display", serif;
  width: 25vw;
  height: 23vh;
}

.card-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 3vh;
  line-height: 6vh;
}

/*Блок Welcome back, Jessica! конец*/

/*Latest Arrivals начало*/
.cards {
  padding-bottom: 2%;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: 0.2fr 0.5fr 0.2fr;
  border: 1px solid black;
}
.cards__name {
  grid-area: 1 / 1 / 2 / 4;
}
.cards__img1 {
  justify-self: center;
  grid-area: 2 / 1 / 3 / 2;
}
.cards__caption1 {
  margin-left: 15%;
  margin-right: 15%;
  grid-area: 3 / 1 / 4 / 2;
}
.cards__img2 {
  justify-self: center;
  grid-area: 2 / 2 / 3 / 3;
}
.cards__caption2 {
  margin-left: 11%;
  margin-right: 14%;
  grid-area: 3 / 2 / 4 / 3;
}
.cards__img3 {
  justify-self: center;
  grid-area: 2 / 3 / 3 / 4;
}
.cards__caption3 {
  margin-left: 15%;
  margin-right: 15%;
  grid-area: 3 / 3 / 4 / 4;
}

/*Latest Arrivals конец*/

/*Popular Genres начало*/
.menu {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-template-rows: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr;
  border: 1px solid black;
}
.menu__name {
  grid-area: 1 / 1 / 2 / 5;
}
.menu__icon-books {
  grid-area: 2 / 1 / 3 / 2;
}
.menu_icon {
  width: 2.5vw;
  padding-top: 25%;
}
.icon_background {
  width: 7vw;
  height: 6vw;
  margin-left: 22%;
  background: #ffffff;
  box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
  border-radius: 8px;
}
.icon-books__caption {
  grid-area: 3 / 1 / 4 / 2;
}
.menu__icon-detective {
  grid-area: 2 / 2 / 3 / 3;
}
.icon-detective__caption {
  grid-area: 3 / 2 / 4 / 3;
}
.menu__icon-knife {
  grid-area: 2 / 3 / 3 / 4;
}
.icon-knife__caption {
  grid-area: 3 / 3 / 4 / 4;
}
.menu__icon-heart {
  grid-area: 2 / 4 / 3 / 5;
}
.icon-heart__caption {
  grid-area: 3 / 4 / 4 / 5;
}
.menu__icon-geography {
  grid-area: 4 / 1 / 5 / 2;
}
.icon-geography__caption {
  grid-area: 5 / 1 / 6 / 2;
}
.menu__icon-tennis {
  grid-area: 4 / 2 / 5 / 3;
}
.icon-tennis__caption {
  grid-area: 5 / 2 / 6 / 3;
}
.menu__icon-physics {
  grid-area: 4 / 3 / 5 / 4;
}
.icon-physics__caption {
  grid-area: 5 / 3 / 6 / 4;
}
.menu__icon-witch {
  grid-area: 4 / 4 / 5 / 5;
}
.icon-witch__caption {
  grid-area: 5 / 4 / 6 / 5;
}
.menu__icon-couple {
  grid-area: 6 / 1 / 7 / 2;
}
.icon-couple__caption {
  grid-area: 7 / 1 / 8 / 2;
}
.menu__icon-children {
  grid-area: 6 / 2 / 7 / 3;
}
.icon-children__caption {
  grid-area: 7 / 2 / 8 / 3;
}
.menu__icon-book {
  grid-area: 6 / 3 / 7 / 4;
}
.icon-book__caption {
  grid-area: 7 / 3 / 8 / 4;
}
.menu__icon-leaf {
  grid-area: 6 / 4 / 7 / 5;
}
.icon-leaf__caption {
  grid-area: 7 / 4 / 8 / 5;
}
/*Popular Genres конец*/

/*Footer начало*/
.footer {
  box-shadow: 0px -2px 2px rgb(164, 164, 159);
  height: 10vh;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer__content {
  width: 50%;
  margin-left: 25%;
  margin-top: -8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content__menu {
  font-size: smaller;
  font-weight: 100;
  opacity: 0.5;
}
/*Footer конец*/

@media screen and (min-width: 1000px) {
  /*ОБЩИЕ СВОЙСТВА*/
  .root {
    width: 50%;
    margin-left: 25%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
  }
  .heading {
    text-align: left;
    font-family: "Playfair Display", serif;
    font-weight: 700;
  }
  .heading-h3_size {
    padding-left: 2.5vw;
    padding-bottom: 1.5vw;
    font-size: 2vw;
  }
  .heading-h4_size {
    font-size: 1.5vw;
    margin-bottom: 0%;
  }
  .text-body-s {
    font-size: 1.2vw;
  }
  .img-book {
    width: 13vw;
    height: 16vw;
  }
  /*ОБЩИЕ СВОЙСТВА*/

  /*Navbar начало*/
  .rowCustom {
    box-shadow: 0px 0px 10px rgb(164, 164, 159);
    width: 100%;
  }

  .rowCustom__footer {
    box-shadow: 0px -2px 10px rgb(164, 164, 159);
    width: 77%;
  }
  /*Navbar конец*/

  /*Latest Arrivals начало*/
  .cards {
    padding-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: 0.2fr 0.5fr 0.2fr;
    border: 1px solid black;
  }
  .cards__name {
    grid-area: 1 / 1 / 2 / 4;
  }
  .cards__img1 {
    justify-self: center;
    grid-area: 2 / 1 / 3 / 2;
  }
  .cards__caption1 {
    margin-left: 15%;
    margin-right: 15%;
    grid-area: 3 / 1 / 4 / 2;
  }
  .cards__img2 {
    justify-self: center;
    grid-area: 2 / 2 / 3 / 3;
  }
  .cards__caption2 {
    margin-left: 11%;
    margin-right: 14%;
    grid-area: 3 / 2 / 4 / 3;
  }
  .cards__img3 {
    justify-self: center;
    grid-area: 2 / 3 / 3 / 4;
  }
  .cards__caption3 {
    margin-left: 15%;
    margin-right: 15%;
    grid-area: 3 / 3 / 4 / 4;
  }

  /*Latest Arrivals конец*/

  /*Popular Genres начало*/
  .menu {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr;
    border: 1px solid black;
  }
  .menu__name {
    grid-area: 1 / 1 / 2 / 5;
  }
  .menu__icon-books {
    grid-area: 2 / 1 / 3 / 2;
  }
  .menu_icon {
    width: 2.5vw;
    padding-top: 25%;
  }
  .icon_background {
    width: 7vw;
    height: 6vw;
    margin-left: 22%;
    background: #ffffff;
    box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
    border-radius: 8px;
  }
  .icon-books__caption {
    grid-area: 3 / 1 / 4 / 2;
  }
  .menu__icon-detective {
    grid-area: 2 / 2 / 3 / 3;
  }
  .icon-detective__caption {
    grid-area: 3 / 2 / 4 / 3;
  }
  .menu__icon-knife {
    grid-area: 2 / 3 / 3 / 4;
  }
  .icon-knife__caption {
    grid-area: 3 / 3 / 4 / 4;
  }
  .menu__icon-heart {
    grid-area: 2 / 4 / 3 / 5;
  }
  .icon-heart__caption {
    grid-area: 3 / 4 / 4 / 5;
  }
  .menu__icon-geography {
    grid-area: 4 / 1 / 5 / 2;
  }
  .icon-geography__caption {
    grid-area: 5 / 1 / 6 / 2;
  }
  .menu__icon-tennis {
    grid-area: 4 / 2 / 5 / 3;
  }
  .icon-tennis__caption {
    grid-area: 5 / 2 / 6 / 3;
  }
  .menu__icon-physics {
    grid-area: 4 / 3 / 5 / 4;
  }
  .icon-physics__caption {
    grid-area: 5 / 3 / 6 / 4;
  }
  .menu__icon-witch {
    grid-area: 4 / 4 / 5 / 5;
  }
  .icon-witch__caption {
    grid-area: 5 / 4 / 6 / 5;
  }
  .menu__icon-couple {
    grid-area: 6 / 1 / 7 / 2;
  }
  .icon-couple__caption {
    grid-area: 7 / 1 / 8 / 2;
  }
  .menu__icon-children {
    grid-area: 6 / 2 / 7 / 3;
  }
  .icon-children__caption {
    grid-area: 7 / 2 / 8 / 3;
  }
  .menu__icon-book {
    grid-area: 6 / 3 / 7 / 4;
  }
  .icon-book__caption {
    grid-area: 7 / 3 / 8 / 4;
  }
  .menu__icon-leaf {
    grid-area: 6 / 4 / 7 / 5;
  }
  .icon-leaf__caption {
    grid-area: 7 / 4 / 8 / 5;
  }
  /*Popular Genres конец*/

  /*Footer начало*/
  .footer {
    box-shadow: 0px -2px 2px rgb(164, 164, 159);
    height: 10vh;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer__content {
    width: 50%;
    margin-left: 25%;
    margin-top: -8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .content__menu {
    font-size: smaller;
    font-weight: 100;
    opacity: 0.5;
  }
  /*Footer конец*/
}

@media (min-width: 600px) and (max-width: 999px) {
  /*ОБЩИЕ СВОЙСТВА*/
  .root {
    width: 80%;
    margin-left: 10%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.8vw;
  }
  .heading {
    text-align: left;
    font-family: "Playfair Display", serif;
    font-weight: 700;
  }
  .heading-h3_size {
    padding-left: 2.5vw;
    padding-bottom: 1.5vw;
    font-size: 2.5vw;
  }
  .heading-h4_size {
    font-size: 1.6vw;
    margin-bottom: 0%;
  }
  .text-body-s {
    font-size: 1.5vw;
  }
  .img-book {
    width: 13vw;
    height: 16vw;
  }
  /*ОБЩИЕ СВОЙСТВА*/

  /*Navbar начало*/
  .rowCustom {
    box-shadow: 0px 0px 10px rgb(164, 164, 159);
    width: 100%;
  }
  .rowCustom__footer {
    box-shadow: 0px -2px 10px rgb(164, 164, 159);
    width: 77%;
  }
  /*Navbar конец*/

  /*Latest Arrivals начало*/
  .cards {
    padding-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: 0.2fr 0.5fr 0.2fr;
    border: 1px solid black;
  }
  .cards__name {
    grid-area: 1 / 1 / 2 / 4;
  }
  .cards__img1 {
    justify-self: center;
    grid-area: 2 / 1 / 3 / 2;
  }
  .cards__caption1 {
    margin-left: 15%;
    margin-right: 15%;
    grid-area: 3 / 1 / 4 / 2;
  }
  .cards__img2 {
    justify-self: center;
    grid-area: 2 / 2 / 3 / 3;
  }
  .cards__caption2 {
    margin-left: 11%;
    margin-right: 14%;
    grid-area: 3 / 2 / 4 / 3;
  }
  .cards__img3 {
    justify-self: center;
    grid-area: 2 / 3 / 3 / 4;
  }
  .cards__caption3 {
    margin-left: 15%;
    margin-right: 15%;
    grid-area: 3 / 3 / 4 / 4;
  }

  /*Latest Arrivals конец*/

  /*Popular Genres начало*/
  .menu {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr;
    border: 1px solid black;
  }
  .menu__name {
    grid-area: 1 / 1 / 2 / 5;
  }
  .menu__icon-books {
    grid-area: 2 / 1 / 3 / 2;
  }
  .menu_icon {
    width: 3vw;
    padding-top: 25%;
  }
  .icon_background {
    width: 7vw;
    height: 6vw;
    margin-left: 22%;
    background: #ffffff;
    box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
    border-radius: 8px;
  }
  .icon-books__caption {
    grid-area: 3 / 1 / 4 / 2;
  }
  .menu__icon-detective {
    grid-area: 2 / 2 / 3 / 3;
  }
  .icon-detective__caption {
    grid-area: 3 / 2 / 4 / 3;
  }
  .menu__icon-knife {
    grid-area: 2 / 3 / 3 / 4;
  }
  .icon-knife__caption {
    grid-area: 3 / 3 / 4 / 4;
  }
  .menu__icon-heart {
    grid-area: 2 / 4 / 3 / 5;
  }
  .icon-heart__caption {
    grid-area: 3 / 4 / 4 / 5;
  }
  .menu__icon-geography {
    grid-area: 4 / 1 / 5 / 2;
  }
  .icon-geography__caption {
    grid-area: 5 / 1 / 6 / 2;
  }
  .menu__icon-tennis {
    grid-area: 4 / 2 / 5 / 3;
  }
  .icon-tennis__caption {
    grid-area: 5 / 2 / 6 / 3;
  }
  .menu__icon-physics {
    grid-area: 4 / 3 / 5 / 4;
  }
  .icon-physics__caption {
    grid-area: 5 / 3 / 6 / 4;
  }
  .menu__icon-witch {
    grid-area: 4 / 4 / 5 / 5;
  }
  .icon-witch__caption {
    grid-area: 5 / 4 / 6 / 5;
  }
  .menu__icon-couple {
    grid-area: 6 / 1 / 7 / 2;
  }
  .icon-couple__caption {
    grid-area: 7 / 1 / 8 / 2;
  }
  .menu__icon-children {
    grid-area: 6 / 2 / 7 / 3;
  }
  .icon-children__caption {
    grid-area: 7 / 2 / 8 / 3;
  }
  .menu__icon-book {
    grid-area: 6 / 3 / 7 / 4;
  }
  .icon-book__caption {
    grid-area: 7 / 3 / 8 / 4;
  }
  .menu__icon-leaf {
    grid-area: 6 / 4 / 7 / 5;
  }
  .icon-leaf__caption {
    grid-area: 7 / 4 / 8 / 5;
  }
  /*Popular Genres конец*/

  /*Footer начало*/
  .footer {
    box-shadow: 0px -2px 2px rgb(164, 164, 159);
    height: 10vh;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer__content {
    width: 50%;
    margin-left: 25%;
    margin-top: -8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .content__menu {
    font-size: smaller;
    font-weight: 100;
    opacity: 0.5;
  }
  /*Footer конец*/
}

@media screen and (max-width: 599px) {
  /*ОБЩИЕ СВОЙСТВА*/
  .root {
    width: 100%;
    margin-left: 0%;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 3.5vw;
  }
  .heading {
    text-align: left;
    font-family: "Playfair Display", serif;
    font-weight: 700;
  }
  .heading-h3_size {
    padding-bottom: 1.5vw;
    font-size: 5.5vw;
  }
  .heading-h4_size {
    font-size: 3.5vw;
    margin-bottom: 0%;
  }
  .text-body-s {
    font-size: 3vw;
  }
  .img-book {
    width: 30vw;
    height: 37vw;
  }
  /*ОБЩИЕ СВОЙСТВА*/

  /*Navbar начало*/
  .rowCustom {
    box-shadow: 0px 0px 10px rgb(164, 164, 159);
    width: 100%;
  }
  .rowCustom__footer {
    box-shadow: 0px -2px 10px rgb(164, 164, 159);
    width: 77%;
  }
  /*Navbar конец*/

  /*Latest Arrivals начало*/
  .cards {
    padding-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 0.5fr 0.2fr;
    border: 1px solid black;
  }
  .cards__name {
    grid-area: 1 / 1 / 2 / 4;
  }
  .cards__img1 {
    justify-self: center;
    grid-area: 2 / 1 / 3 / 2;
  }
  .cards__caption1 {
    margin-left: 10%;
    margin-right: 10%;
    grid-area: 3 / 1 / 4 / 2;
  }
  .cards__img2 {
    justify-self: center;
    grid-area: 2 / 2 / 3 / 3;
  }
  .cards__caption2 {
    margin-left: 5%;
    margin-right: 5%;
    grid-area: 3 / 2 / 4 / 3;
  }
  .cards__img3 {
    justify-self: center;
    grid-area: 2 / 3 / 3 / 4;
  }
  .cards__caption3 {
    margin-left: 10%;
    margin-right: 5%;
    grid-area: 3 / 3 / 4 / 4;
  }

  /*Latest Arrivals конец*/

  /*Popular Genres начало*/
  .menu {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr 0.5fr 0.2fr;
    border: 1px solid black;
  }
  .menu__name {
    grid-area: 1 / 1 / 2 / 5;
  }
  .menu__icon-books {
    grid-area: 2 / 1 / 3 / 2;
  }
  .menu_icon {
    width: 6vw;
    padding-top: 25%;
  }
  .icon_background {
    width: 15vw;
    height: 14vw;
    margin-left: 21%;
    background: #ffffff;
    box-shadow: 1px 1px 10px rgba(78, 55, 55, 0.1);
    border-radius: 8px;
  }
  .icon-books__caption {
    grid-area: 3 / 1 / 4 / 2;
  }
  .menu__icon-detective {
    grid-area: 2 / 2 / 3 / 3;
  }
  .icon-detective__caption {
    grid-area: 3 / 2 / 4 / 3;
  }
  .menu__icon-knife {
    grid-area: 2 / 3 / 3 / 4;
  }
  .icon-knife__caption {
    grid-area: 3 / 3 / 4 / 4;
  }
  .menu__icon-heart {
    grid-area: 2 / 4 / 3 / 5;
  }
  .icon-heart__caption {
    grid-area: 3 / 4 / 4 / 5;
  }
  .menu__icon-geography {
    grid-area: 4 / 1 / 5 / 2;
  }
  .icon-geography__caption {
    grid-area: 5 / 1 / 6 / 2;
  }
  .menu__icon-tennis {
    grid-area: 4 / 2 / 5 / 3;
  }
  .icon-tennis__caption {
    grid-area: 5 / 2 / 6 / 3;
  }
  .menu__icon-physics {
    grid-area: 4 / 3 / 5 / 4;
  }
  .icon-physics__caption {
    grid-area: 5 / 3 / 6 / 4;
  }
  .menu__icon-witch {
    grid-area: 4 / 4 / 5 / 5;
  }
  .icon-witch__caption {
    grid-area: 5 / 4 / 6 / 5;
  }
  .menu__icon-couple {
    grid-area: 6 / 1 / 7 / 2;
  }
  .icon-couple__caption {
    grid-area: 7 / 1 / 8 / 2;
  }
  .menu__icon-children {
    grid-area: 6 / 2 / 7 / 3;
  }
  .icon-children__caption {
    grid-area: 7 / 2 / 8 / 3;
  }
  .menu__icon-book {
    grid-area: 6 / 3 / 7 / 4;
  }
  .icon-book__caption {
    grid-area: 7 / 3 / 8 / 4;
  }
  .menu__icon-leaf {
    grid-area: 6 / 4 / 7 / 5;
  }
  .icon-leaf__caption {
    grid-area: 7 / 4 / 8 / 5;
  }
  /*Popular Genres конец*/

  /*Footer начало*/
  .footer {
    box-shadow: 0px -2px 2px rgb(164, 164, 159);
    height: 10vh;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer__content {
    width: 50%;
    margin-left: 25%;
    margin-top: -8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .content__menu {
    font-size: smaller;
    font-weight: 100;
    opacity: 0.5;
  }
  /*Footer конец*/
}
